/* 태그선택자 */
body {
  background-color: greenyellow;
}
h1 {
  color: rgb(66, 165, 231);
  font-size: 24px;
  background-color: white;
}
p {
  color: blue;
}
h2 {
  font-size: 32px;
}
.menu1 {
  color: red;
}
.menu2 {
  color: brown;
}
.menu3 {
  color: blueviolet;
}
.box {
  width: 50px;
  height: 50px;
  background-color: gray;
  border: 1px solid white;
}
.box1 {
  background-color: darkorchid;
  border-radius: 50%;
}
.box2 {
  background-color: brown;
  border-radius: 30%;
}
.box3 {
  background-color: yellowgreen;
  border-radius: 10%;
}
#title1 {
  font-size: 48px;
}
#title2 {
  color: brown;
  font-size: 24px;
  font-weight: bold;
}
h4, .desc, .smallTitle {
  font-size: 14px;
  color: red;
  background-color: burlywood;
  font-weight: 600px;
}
